Third term/Homework/FiltersService/FilterServiceTests/Connected Services/FilterService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFilterService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilterService_GetFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilters" />
  </wsdl:message>
  <wsdl:message name="IFilterService_GetFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IFilterService_ApplyFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyFilter" />
  </wsdl:message>
  <wsdl:message name="IFilterService_StopFiltering_InputMessage">
    <wsdl:part name="parameters" element="tns:StopFiltering" />
  </wsdl:message>
  <wsdl:message name="IFilterService_ProgressCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProgressCallback" />
  </wsdl:message>
  <wsdl:message name="IFilterService_ImageCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ImageCallback" />
  </wsdl:message>
  <wsdl:portType name="IFilterService">
    <wsdl:operation name="GetFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/GetFilters" message="tns:IFilterService_GetFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/GetFiltersResponse" message="tns:IFilterService_GetFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/ApplyFilter" message="tns:IFilterService_ApplyFilter_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopFiltering">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/StopFiltering" message="tns:IFilterService_StopFiltering_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgressCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/ProgressCallback" message="tns:IFilterService_ProgressCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/ImageCallback" message="tns:IFilterService_ImageCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFilterService" type="tns:IFilterService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFilterService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFilters">
      <soap12:operation soapAction="http://tempuri.org/IFilterService/GetFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyFilter">
      <soap12:operation soapAction="http://tempuri.org/IFilterService/ApplyFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopFiltering">
      <soap12:operation soapAction="http://tempuri.org/IFilterService/StopFiltering" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProgressCallback">
      <soap12:operation soapAction="http://tempuri.org/IFilterService/ProgressCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageCallback">
      <soap12:operation soapAction="http://tempuri.org/IFilterService/ImageCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilterService">
    <wsdl:port name="NetTcpBinding_IFilterService" binding="tns:NetTcpBinding_IFilterService">
      <soap12:address location="net.tcp://localhost:8080/srv" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/srv</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>